<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
       <form class=""  [formGroup]="insertProjectForm" (ngSubmit)="onSubmit()" >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project ID</mat-label>
              <input matInput placeholder="Project Id" value="Project Id" formControlName="project_id" required>
              <mat-hint>Project ID</mat-hint>
            
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Project Name" value="Project Name" formControlName="project_name" required>
              <mat-hint>Project Name</mat-hint>
              
            </mat-form-field>
 

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project ID</mat-label>
              <input matInput placeholder="Project Id" value="Project Id" formControlName="project_id" required>
              <mat-hint>Project ID</mat-hint>
            
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Project Name" value="Project Name" formControlName="project_name" required>
              <mat-hint>Project Name</mat-hint>
              
            </mat-form-field>
 
             <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project ID</mat-label>
              <input matInput placeholder="Project Id" value="Project Id" formControlName="project_id" required>
              <mat-hint>Project ID</mat-hint>
            
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Project Name" value="Project Name" formControlName="project_name" required>
              <mat-hint>Project Name</mat-hint>
              
            </mat-form-field>
 

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project ID</mat-label>
              <input matInput placeholder="Project Id" value="Project Id" formControlName="project_id" required>
              <mat-hint>Project ID</mat-hint>
            
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Project Name" value="Project Name" formControlName="project_name" required>
              <mat-hint>Project Name</mat-hint>
              
            </mat-form-field>
 



            <button class="signin-button" mat-raised-button color="accent" style="width: 100%; display: block;" [disabled]="insertProjectForm.invalid" >Submit</button>        
        </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>






