.static-page{
    margin: 20px 50px;;
    padding: 20px 150px;
    padding-bottom: 100px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    color: rgb(255, 38, 0);
    text-decoration: underline;
}

.para{
    font-size: 18px;
    padding-top: 30px;
}

.home-contact-container{
  margin: 50px 0px;
  background-color: #f4f5fd;
}

.contact-card{
    width: 100%;
    background-size: cover;
    border-radius: 0px ;

  }

.contact-detail{
 margin-left: 15%;
 margin-top: 15%;
}
.contact-h1{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3px;
  color: rgba(247, 23, 23);
}
.contact{
  margin:10px;
}
.contact-header{
  font-weight: bold;
}
.contact p{
  margin: 0px;
  font-size: 15px;
}