<div class="sidebar">

<mat-card class="user-card">
    <img class="user-mat-card-avatar"  src="/assets/logo/Actoss-logo-600.png">
    <div class="user-card">             
        <mat-card-title class="user-card-title">Actoss</mat-card-title>
    </div>
</mat-card>



<div class="sidenav-heading" >Navbar</div>
<mat-nav-list class="side-nav">
        <a mat-list-item routerLinkActive="list-item-active" routerLink=""> <i class="material-icons">home</i>Home</a>
</mat-nav-list>
<mat-divider></mat-divider>
<div class="sidenav-heading">Dashboard</div>
<mat-nav-list class="side-nav">   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="pdashboard"><i class="material-icons">dashboard</i>Project Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard" ><i class="material-icons">dashboard</i>Link Dashboard</a>
</mat-nav-list>

</div>